<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="icon" type="image/png" href="/static/subway_logo.png")
    link(rel="shortcut icon" href="/static/subway_logo.png")
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://position-checker.herokuapp.com")
    meta(property="og:title" content="position-checker")
    link(rel="stylesheet", href="/static/styles.css")
    title Position-Checker
  body
    main
      block content
    script(src="/static/main.js")